# GEMINI_API_KEY: Clave de API para el procesamiento de IA de Gemini
GEMINI_API_KEY=""

# Variables de Firebase cargadas por Vite (prefijadas con VITE_ para acceso del cliente)
VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FIREBASE_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""
VITE_FIREBASE_FIRESTORE_DATABASE_ID=""
